@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* styles.css (o .scss) */
.input-text {
  @apply border-none bg-[#1E1E1E] p-2 text-base outline-none placeholder:text-[#FFFFFF78] placeholder:text-[12px] placeholder:font-normal text-[12px];
  /* Aquí puedes aplicar las clases de Tailwind CSS que desees */
}
.button {
  @apply bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 focus:outline-none;
}

